# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Debug files
local-debug.js

# Coverage directory
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VSCode configuration
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
